.profile__job {
  grid-area: job;
  max-width: 336px;
  justify-self: start;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 930px) {
  .profile__job {
    max-width: 282px;
    justify-self: center;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
