.header__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  margin: 0;
  padding: 0;
  color: #fff;
  transition: opacity 0.2s ease-in-out;
}

.header__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 426px) {
  .header__link {
    font-size: 14px;
    line-height: 17px;
  }
}
