.element__like {
  background-image: url(../../../../images/like.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  width: 23px;
  height: 19px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.element__like:hover {
  opacity: 0.5;
}
