.login__input {
  width: 100%;
  margin: 0;
  padding: 0 0 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #cccccc;
  border: none;
  border-bottom: 2px solid #cccccc;
  background-color: transparent;
}

.login__input:focus {
  outline: none;
}
